<div class="container">
  <div class="grid">
    <div class="col-6">
      <div class="p-fluid">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" [(ngModel)]="searchMovie" (change)="searchMovies()">
        </span>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6 md:col-3 lg:col-3" *ngFor="let movie of MoviesPagination.data ">
      <item [itemData]="movie"></item>
    </div>
  </div>
  <div>
    <mat-paginator [pageSize]="1" (page)="getServerData($event)">
    </mat-paginator>
  </div>
</div>
